[Unit]
Description=KVM-RS Server Service
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kvm-server
Restart=on-failure
Environment="RUST_LOG=info"

[Install]
WantedBy=default.target
